// Created by khk on 2016. 6. 13..
doctype html
html(lang='ko')
  include ../includes/header.jade
  body(data-target='.navbar-fixed-top')
    #wrapper
      include ../includes/navi.jade
      block content
      include ../includes/footer.jade
