// Created by khk on 2016. 6. 13..
doctype html
html(lang='ko')
  include ../includes/header.jade
  body
    #wrapper
      include ../includes/navi_small.jade
      block content
      include ../includes/footer_small.jade
