//
   Created by khk on 2016. 6. 13..

extends ../layouts/layout

block content
  .content.con-white
    .md-container.card-section
      .title
        h3 아이오 교육센터가 걸어온 길
      .row
        .col-md-4.col-sm-5.col-xs-12
          .process-info
            .history1
        .col-md-8.col-sm-7.col-xs-12
          p.sub_text
            b 텔코웨어&nbsp;
            | 임베디드 리눅스 교육
            br
            b 삼성전자&nbsp;
            | 21세기 아카데미 임베디드 리눅스 교육
            br
            b 삼성전자&nbsp;
            | 21세시 아마데미 임베디드 고급 과정 교육
            br
            b 삼성전자&nbsp;
            | 신입사원 교육
            br
            b 쉐크론&nbsp;
            | SW 기술 교육
            br
            b 한국항공(KAI)&nbsp;
            | SW 기술 교육
            br
            | (주)아임구루 법인 설립 및 건물 매입 (금천구 가산동 대룡8차 1513호)
          p
            b 국세청&nbsp;
            | 내부 해킹 방지 솔루션 개발
      .row
        .col-md-4.col-sm-5.col-xs-12
          .process-info
            .history2
        .col-md-8.col-sm-7.col-xs-12
          p.sub_text
            b 모바일 리더&nbsp;
            | 개발자 C# 교육
            br
            b KTDS 직원&nbsp;
            | 인프라 교육
            br
            b 삼성전자&nbsp;
            | 첨기연 직무향상 교육
            br
            b 삼성전자&nbsp;
            | SW 멤버십 교육
            br
            b SK CC&nbsp;
            | UNIX C 교육
            br
            b 코스콤&nbsp;
            | AIX 교육
            br
            b LG전자&nbsp;
            | 러닝센터 개발자 교육
            br
            b 팬택&nbsp;
            | 개발자 교육
            br
            | iPhone 교육, 안드로이드 교육 외 다수 개발자 교육
          p
            b SK&nbsp;
            | 사용자 체감 속도 측정 솔루션 개발
            br
            b 바벨시스템&nbsp;
            | 리눅스 네트워크 드라이버 개발
            br
            b 신원 특허법률 사무소&nbsp;
            | 특허 검색 시스템 개발
            br
            b SK CC&nbsp;
            | 사용자 체감 속도 측정 솔루션 개발
      .row
        .col-md-4.col-sm-5.col-xs-12
          .process-info
            .history3
        .col-md-8.col-sm-7.col-xs-12
          p.sub_text
            | 교육장 확장 이전(금천구 가산동 남성프라자 1007호)
            br
            b 삼성전자&nbsp;
            | 인재 개발원 개발자 교육
            br
            b 삼성전자&nbsp;
            | SW 멤버십 전문가 교육
            br
            b LG전자&nbsp;
            | 재직자 위탁 교육
            br
            b LG전자&nbsp;
            | 우수 신입사원 교육
            br
            b 넥슨 코리아&nbsp;
            | 개발자 교육 및 신입사원 교육
            br
            b 엔시 소프트&nbsp;
            | 신입사원 교육
            br
            b 안랩&nbsp;
            | 개발자 교육
            br
            | 기타 국내 다수 SW 전문 기업 기술 교육
          p
            b 에어스&nbsp;
            | 특허 검색 시스템 개발
            br
            b LG전자&nbsp;
            | 평가 레포팅 시스템 개발