extends ../layouts/layout

block content
  .content.con-white.company-process
    .container.card-section
      .title
        h3 사업주 지원 훈련
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 사업주 지원 훈련이란 무엇인가요?
            p 사업주가 훈련비용을 부담하여 재직근로자 등을 대상으로 실시하는 직업훈련으로 훈련을 실시한 사업주는 노동부장관으로부터 훈련비용의 지원을 받을 수 있습니다.
              br
              | 고용보험 납부 사업장(회사)이라면 회에서 납부하신 고용보험료를 돌려드립니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .thumbnail
              .company_step1
              .caption.text-center
                h4.title.text-highlight STEP1. 훈련기관
                p.sub_text 훈련기관은 산업인력공단으로부터
                  br
                  | 인정받은 교육을 실시합니다.
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .thumbnail
              .company_step2
              .caption.text-center
                h4.title.text-highlight STEP2. 사업주
                p.sub_text 사업주는 훈련기관에
                  br
                  | 훈련비용을 부담합니다.
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .thumbnail
              .company_step3
              .caption.text-center
                h4.title.text-highlight STEP3. 한국산업인력공단
                p.sub_text 한국산업인력공단은 직업능력개발
                  br
                  | 훈련비용을 사업주에 지원합니다.
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 훈련 대상은 누구인가요?
            p 고용보험에 가입한 사업주에 소속된 근로자이면 교육훈련을 받을 수 있습니다.
            ul
              li - 고용보험 피보험자
              li - 피보험자가 아닌 자로서 해당 사업주에게 고용된 자
              li - 해당 사업이나 그 사업과 관련된 사업에서 고용하려는 자
                span
                  small.text-highlight &nbsp;( 채용예정자 )
              li - 직업안정기관에 구직등록한 자
                span
                  small.text-highlight &nbsp;( 자체훈련만 가능 )
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 어떻게 신청하나요?
            p 수강신청을 하려면 아래와 같은 서류를 필요로 합니다.
            ul
              li - 사업자 등록자 사본 1부
              li - 훈련 위탁(신청)계약서 1부
              li - 근로 시간외 직업능력개발훈련 동의서 1부
                br
                span
                  small.text-highlight ( 대표자의 직인 날안을 필히 하셔야 합니다. )
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 환급절차는 어떻게 되나요?
            p 해당 교육을 마친 수갱생이 직접 회사를 통해서 환급절차를 받아야 합니다.
              | 이때 환급은 교육 수료일로부터 15일 이내에 지방노동관서로 서류를 제출해야 합니다.
            ul
              li 1. 신청서 법정양식 1부
              li 2. 계산서(영수증) 사본 1부
              li 3. 수료증 사본 1부
              li 4. 입금증 사본 1부
              li 5. 회사별 훈련비 내역서 1부
              li 6. 정산내역서 1부
                br
                span
                  small.text-highlight ( 중소기업의 경우 대부분 1, 2, 3, 4의 서류만 제출하시면 환급이 가능합니다. 대기업이나 지방노동관서에 따라서 5 + 6 서류를 추가적으로 요구하기도 합니다. )
  .content.con-default.person-process
    .container.card-section
      .title
        h3 근로자 직업능력개발훈련
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 근로자 직업능력개발훈련이란 무엇인가요?
            p 고용보험에 가입한 기간제/파견/단시간/일용/50세 이상(대규모 기업) 근로자, 이직예정자, 3년간 훈련이력이 없는 자, 무급휴직/휴업자, 우선지원대상 기업 근로자,
              | 자영업자 등이 근로자 직업능력개발훈련카드를 신청/발급받아 고용노동부장관의 인정을 받은 훈련과정을 수강하는 경우 훈련비의 일보를 지원하는 제도입니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .person_step1
        .col-lg-8.col-md-8.col-xs-12
          .process-step
            h4.title.text-highlight STEP1.근로자 직업능력개발카드 발급신청(온라인/오프라인)
            p.sub_text 온라인 신청은 HRD-Net 로그인 후 [My서비스]-[행정서비스]-[내일배움카드제(재직자)]에서 신청,
              br
              | 근로계약서를 고용센터에서 FAX 등으로 제출합니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .person_step2
        .col-lg-8.col-md-8.col-xs-12
          .process-step
            h4.title.text-highlight STEP2. 근로자 직업능력개발 카드 발급
            p.sub_text 발급관련 진행 절차 등은 신청중인 고용센터로 문의(대표 전화 : 1588-1919)하시면 됩니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .person_step3
        .col-lg-8.col-md-8.col-xs-12
          .process-step
            h4.title.text-highlight STEP3. 훈련과정 검색
            p.sub_text 메인화면에서 상단 [재직자]에 마우스를 오버하여 [훈련과정 검색]을 클릭합니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .person_step4
        .col-lg-8.col-md-8.col-xs-12
          .process-step
            h4.title.text-highlight STEP4. 훈련과정 문의 및 수강신청
            p.sub_text 훈련기관에서 훈련절차 및 훈련비용 등을 상담 후 수강신청합니다.
      .row
        .col-lg-4.col-md-4.col-xs-12
          .process-info
            .person_step5
        .col-lg-8.col-md-8.col-xs-12
          .process-step
            h4.title.text-highlight STEP5. 훈련과정 수강
            p.sub_text 총 훈련비용 중 본인부담 금액만 결제하면 됩니다.
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 지원 대상은 누구인가요?
            p 근로자 직업능력개발카드 발급 신청일 당시 다음 중 한 가지 요건이라도 해당하는 근로자는 근로자 직업능력개발카드를
              | 발급받아 훈련비를 지원받을 수 있습니다.
            ul
              li
                span
                  b 이직 예정 근로자
                br
                small 계좌발급 신청일로부터 180일 이내에 사업주와의 고용관계가 끝날 이직예정의 근로자
              li
                span
                  b 무급 휴직중인 자
                br
                small 경영상의 이유로 90일 이상 무급 휴직을 하고도 복귀하지 못한 근로자
              li
                span
                  b 비정규직 근로자
                small
                  br
                  | - 기간제근로자 (기간제 및 단시간 근로자 보호 등에 관한 법률 제2조 제1호)
                  br
                  | * 기간의 정함이 있는 근로계약을 체결한 자
                  br
                  br
                  | - 단시간근로자 (근로기준법 제2조 제1항 제8호)
                  br
                  | * 주된 일자리에서 1주동안 소정 근로시간이 36시간 미만인 근로자
                  br
                  br
                  | - 파견근로자 (파견근로자 보호 등에 관한 법률)
                  br
                  br
                  | - 일용근로자
                  br
                  | * 1개월 미만 고용된 근로자로 계좌발급 신청일 포함 90일 이내에 10일 이상의 근로내역이 있는 근로자
                  br
                  | [비정규직보호법에 의하여 2년 이상 동일 사업장에 근무하는 자는 지원대상에 해당되지 않음]
              li
                span
                  b 우선지원대상기업(중소기업)에 재직중인 근로자
              li
                span
                  b 대규모 기업에 재직중인 만45세 이상인 근로자
              li
                span
                  b 3년간 훈련이력이 없는 근로자
                br
                small * 고용보험 가입기간이 3년 이상이고, 그 기간동안 사업주 및 근로자개인 지원 훈련수강이력이 없는 자
              li
                span
                  b 육아휴직자
      .row
        .col-lg-12
          .process-target
            h4.text-hightitle 지원 내용은 무엇인가요?
            p
              span
                b 1인당 연간 200만원 한도 내에서 일반(집체)훈련 과정은 수강료의 60~100%를 지원합니다.
              br
              | 단 (구)수강지원금, (구)능력개발카드, 재직자내일배움카드, 근로자 직무능력향상 지원금에 따른 지원금을 합산하여 연간 200만원, 5년간 300만원 한도내에서 지원합니다.