extends ../layouts/layout

block content
  .content.con-white
    .md-container
      .title
        h3 이용약관
      .row
        h4.text-hightitle 제1조(목적)
        p 이 약관은 아아오 교육센터가 운영하는 당사 홈페이지에서 제공하는 인터넷 관련 서비스를 이용함에 있어 당사 홈페이지와 이용자의 권리의무 및 책임사항을 규정함을 목적으로 합니다.
          br
          span.text-highlight ※「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다.」
      .row
        h4.text-hightitle 제2조(약관 등의 명시와 설명 및 개정)
        ul
          li ① 이 약관의 내용과 상호 및 영업소 소재지 주소, 전화번호, 팩스번호, 전자 우편주소, 사업자등록번호 등을 이용자가 쉽게 알 수 있도록 초기 서비스화면(전면)에 게시합니다.
          li ② 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
          li ③ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.
      .row
        h4.text-hightitle 제3조(회원가입)
        ul
          li ① 이용자는 아이오 교육센터가 정한 가입 양식에 따라 회원정보를 기입한 후 회원가입을 신청합니다.
          li ② 아이오 교육센터는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
            ul
              li 1. 가입신청자가 이 약관 제4조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제4조 제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 아이오 교육센터의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
              li 2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
              li 3. 기타 회원으로 등록하는 것이 아이오 교육센터의 기술상 현저히 지장이 있다고 판단되는 경우
          li ③ 회원가입계약의 성립 시기는 아이오 교육센터의 승낙이 회원에게 도달한 시점으로 합니다.
          li ④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 아이오 교육센터에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
      .row
        h4.text-hightitle 제4조(회원 탈퇴 및 자격 상실 등)
        ul
          li ① 회원은 아이오 교육센터에 언제든지 탈퇴를 요청할 수 있으며 아이오 교육센터는 즉시 회원탈퇴를 처리합니다.
          li ② 회원이 다음 각 호의 사유에 해당하는 경우, 아이오 교육센터는 회원자격을 제한 및 정지시킬 수 있습니다.
            ul
              li 1. 가입 신청 시에 허위 내용을 등록한 경우
              li 2. 다른 사람의 아이오 교육센터 이용을 방해하거나 그 정보를 도용하는 등 전자상거래질서를 위협하는 경우
              li 3. 아이오 교육센터를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
          li ③ 아이오 교육센터가 회원 자격을 제한 정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 아이오 교육센터는 회원자격을 상실시킬 수 있습니다.
          li ④ 아이오 교육센터가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
      .row
        h4.text-hightitle 제5조(환급)
        p 아이오 교육센터는 이용자가 신청한 강좌가 폐강 등의 사유로 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전
          | 에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.
      .row
        h4.text-hightitle 제6조(개인정보보호)
        ul
          li ① 아이오 교육센터는 이용자의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
          li ② 아이오 교육센터는 회원가입시 구매계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
          li ③ 아이오 교육센터는 이용자의 개인정보를 수집 이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.
          li ④ 아이오 교육센터는 수집된 개인정보를 목적외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용 제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.
          | 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
          li ⑤ 이용자는 언제든지 아이오 교육센터가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 아이오 교육센터는 이에 대해 지체 없이 필요한 조치를
          | 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 아이오 교육센터는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
          li ⑥ 아이오 교육센터는 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한합니다.
      .row
        h4.text-hightitle 제7조(아이오 교육센터의 의무)
        ul
          li ① 아이오 교육센터는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화용역을 제공하는데 최선을 다하여야 합니다.
          li ② 아이오 교육센터는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
          li ③ 아이오 교육센터는 이용자가 원하지 않는 경우 영리목적의 광고성 전자우편을 발송하지 않습니다.
      .row
        h4.text-hightitle 제8조(회원의 이메일 및 비밀번호에 대한 의무)
        ul
          li ① 제6조의 경우를 제외한 이메일과 비밀번호에 관한 관리책임은 회원에게 있습니다.
          li ② 회원은 자신의 이메일 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
          li ③ 회원이 자신의 이메일 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 아이오 교육센터에 통보하고 아이오 교육센터의 안내가 있는 경우에는 그에 따라야 합니다.
      .row
        h4.text-hightitle 제9조(이용자의 의무)
        p 이용자는 다음 행위를 하여서는 안 됩니다.
        ul
          li 1. 신청 또는 변경시 허위 내용의 등록
          li 2. 타인의 정보 도용
          li 3. 아이오 교육센터에 게시된 정보의 변경
          li 4. 아이오 교육센터가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
          li 5. 아이오 교육센터 기타 제3자의 저작권 등 지적재산권에 대한 침해
          li 6. 아이오 교육센터 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
          li 7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 몰에 공개 또는 게시하는 행위
      .row
        h4.text-hightitle 제10조(저작권의 귀속 및 이용제한)
        ul
          li ① 아이오 교육센터가 작성한 저작물에 대한 저작권 기타 지적재산권은 아이오 교육센터에 귀속합니다.
          li ② 이용자는 아이오 교육센터를 이용함으로써 얻은 정보 중 아이오 교육센터에게 지적재산권이 귀속된 정보를 아이오 교육센터의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
          li ③ 아이오 교육센터는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.
